# Project information
site_name: distilabel
site_url: https://argilla-io.github.io/distilabel
site_author: Argilla, Inc.
site_description: AI Feedback framework

# Repository
repo_name: argilla-io/distilabel
repo_url: https://github.com/argilla-io/distilabel

extra:
  version:
    provider: mike

extra_css:
  - stylesheets/extra.css

extra_javascript:
  - javascripts/mathjax.js
  - https://polyfill.io/v3/polyfill.min.js?features=es6
  - https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-mml-chtml.js

theme:
  name: material
  logo: assets/logo.svg
  favicon: assets/logo.svg
  features:
    - navigation.sections # Sections are included in the navigation on the left.
    # - toc.integrate # # Table of contents is integrated on the left; does not appear separately on the right.
    - header.autohide # header disappears as you scroll
    - content.code.copy
    - content.code.annotate
  palette:
    - media: "(prefers-color-scheme)"
      primary: white
      toggle:
        icon: material/brightness-auto
        name: Switch to light mode
    - media: "(prefers-color-scheme: light)"
      scheme: default
      primary: custom
      toggle:
        icon: material/brightness-7
        name: Switch to dark mode

    # Palette toggle for dark mode
    - media: "(prefers-color-scheme: dark)"
      scheme: slate
      primary: custom
      toggle:
        icon: material/brightness-4
        name: Switch to system preference

watch:
  - src/distilabel

# Extensions
markdown_extensions:
  - attr_list
  - md_in_html
  - admonition
  - pymdownx.arithmatex:
      generic: true
  - pymdownx.highlight:
      anchor_linenums: true
      line_spans: __span
      pygments_lang_class: true
  - pymdownx.inlinehilite
  - pymdownx.snippets
  - pymdownx.superfences
  - pymdownx.tabbed:
      alternate_style: true
  - footnotes
  - toc:
      permalink: true

plugins:
  - search
  - autorefs # Cross-links to headings
  - gen-files:
      scripts:
        - docs/scripts/gen_ref_pages.py
  - literate-nav:
      nav_file: SUMMARY.md
  - section-index
  - mkdocstrings:
      handlers:
        python:
          selection:
            inherited_members: true # Allow looking up inherited methods
          rendering:
            show_root_heading: true # actually display anything at all...
            # show_root_full_path: true  # display "diffrax.asdf" not just "asdf"
            show_if_no_docstring: true
            show_signature_annotations: true
            show_source: false # don't include source code
            members_order: source # order methods according to their order of definition in the source code, not alphabetical order
            heading_level: 4
  - social

nav:
  - Getting started: index.md
  - Learn: 
    - "sections/learn/index.md"
    - Tutorial:
      - Steps: 
        - "sections/learn/steps/index.md"
        - "sections/learn/steps/generator_steps.md"
        - "sections/learn/steps/global_steps.md"
        - "sections/learn/steps/general_steps.md"
      - Tasks:
        - "sections/learn/tasks/index.md"
        - "sections/learn/tasks/text_generation.md"
        - "sections/learn/tasks/feedback_tasks.md"
        - "sections/learn/tasks/special_tasks.md"
      - LLMs:
        - "sections/learn/llms/index.md"
      - Pipeline:
        - "sections/learn/pipelines/base.md"
        - "sections/learn/pipelines/local.md"
      - Command Line Interface:
        - "sections/learn/cli.md"
    - Advanced:
      - Distiset:
        - "sections/learn/distiset.md"
      - Caching:
        - "sections/learn/caching.md"
  - Paper reproductions:
    - "sections/papers/index.md"
    - Papers:
      - "Self-Alignment with Instruction Backtranslation": "sections/papers/instruction_backtranslation.md"
      - "UltraFeedback: Boosting Language Models with High-quality Feedback": "sections/papers/ultrafeedback.md"
      - "DEITA: Data-Efficient Instruction Tuning for Alignment": "sections/papers/deita.md"
  - API Reference:
    - Pipeline:
      - "api/pipeline/pipeline.md"
    - Steps:
      - "api/steps/steps.md"
      - Generator Steps: "api/steps/generator_steps/generator_steps.md"
      - Global Steps: "api/steps/global_steps/global_steps.md"
      - Tasks:
        - "api/steps/tasks/text_generation.md"
        - "api/steps/tasks/preference_tasks.md"
        - "api/steps/tasks/embeddings.md"
      - "api/steps/decorator.md"
    - LLMs:
      - "api/llms/anthropic.md"
      - "api/llms/anyscale.md"
      - "api/llms/huggingface.md"
      - "api/llms/litellm.md"
      - "api/llms/llamacpp.md"
      - "api/llms/mistral.md"
      - "api/llms/ollama.md"
      - "api/llms/openai.md"
      - "api/llms/together.md"
      - "api/llms/vertexai.md"
      - "api/llms/vllm.md"
    - Command Line Interface:
      - "api/cli.md"