# Project information
site_name: Distilabel Docs
site_url: https://argilla-io.github.io/distilabel
site_author: Argilla, Inc.
site_description: Distilabel is an AI Feedback (AIF) framework for building datasets with and for LLMs.

# Repository
repo_name: argilla-io/distilabel
repo_url: https://github.com/argilla-io/distilabel

extra:
  version:
    provider: mike
  social:
    - icon: fontawesome/brands/linkedin
      link: https://www.linkedin.com/company/argilla-io
    - icon: fontawesome/brands/x-twitter
      link: https://twitter.com/argilla_io
    - icon: fontawesome/brands/youtube
      link: https://www.youtube.com/channel/UCAIz8TmvQQrLqbD7sd-5S2A
    - icon: fontawesome/brands/slack
      link: https://join.slack.com/t/rubrixworkspace/shared_invite/zt-20wllqq29-Z11~kp2SeFYjJ0qevJRiPg

extra_css:
  - stylesheets/extra.css

extra_javascript:
  - javascripts/mathjax.js
  - https://polyfill.io/v3/polyfill.min.js?features=es6
  - https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-mml-chtml.js

theme:
  name: material
  logo: assets/logo.svg
  favicon: assets/logo.svg
  icon:
    repo: fontawesome/brands/github-alt
  features:
    - navigation.instant
    - navigation.sections
    - navigation.tabs
    - navigation.footer
    - navigation.top
    - navigation.tracking
    - navigation.path
    - header.autohide # header disappears as you scroll
    - content.code.copy
    - content.code.annotate
    - content.tabs.link
    - content.action.edit
    - toc.follow
    - search.suggest
    - search.highlight
    - search.share

  palette:
    - media: "(prefers-color-scheme)"
      primary: white
      toggle:
        icon: material/brightness-auto
        name: Switch to light mode
    - media: "(prefers-color-scheme: light)"
      scheme: default
      primary: custom
      toggle:
        icon: material/brightness-7
        name: Switch to dark mode

    # Palette toggle for dark mode
    - media: "(prefers-color-scheme: dark)"
      scheme: slate
      primary: custom
      toggle:
        icon: material/brightness-4
        name: Switch to system preference

watch:
  - src/distilabel

# Extensions
markdown_extensions:
  - attr_list
  - md_in_html
  - admonition
  - pymdownx.superfences
  - pymdownx.arithmatex:
      generic: true
  - pymdownx.highlight:
      anchor_linenums: true
      line_spans: __span
      pygments_lang_class: true
  - pymdownx.inlinehilite
  - pymdownx.superfences:
      custom_fences:
        - name: mermaid
          class: mermaid
          format: !!python/name:pymdownx.superfences.fence_code_format
  - pymdownx.snippets:
      check_paths: true
      base_path: [examples/, docs/, "."]
  - pymdownx.details
  - pymdownx.tabbed:
      alternate_style: true
  - pymdownx.emoji:
      emoji_index: !!python/name:material.extensions.emoji.twemoji
      emoji_generator: !!python/name:material.extensions.emoji.to_svg
  - footnotes
  - toc:
      permalink: true

plugins:
  - search
  - autorefs # Cross-links to headings
  - gen-files:
      scripts:
        - docs/scripts/gen_ref_pages.py
        - docs/scripts/gen_popular_issues.py
  - literate-nav:
      nav_file: SUMMARY.md
  - section-index
  - mkdocstrings:
      handlers:
        python:
          selection:
            inherited_members: true # Allow looking up inherited methods
          options:
            show_protected_members: true
            show_private_members: true
          rendering:
            show_root_heading: true # actually display anything at all...
            # show_root_full_path: true  # display "diffrax.asdf" not just "asdf"
            show_if_no_docstring: true
            show_signature_annotations: true
            show_source: false # don't include source code
            members_order: source # order methods according to their order of definition in the source code, not alphabetical order
            heading_level: 4
  - social
  - distilabel/components-gallery:
      add_after_page: How-to guides

nav:
  - Distilabel: "index.md"
  - Getting started:
    - Installation: "sections/getting_started/installation.md"
    - Quickstart: "sections/getting_started/quickstart.md"
    - FAQ: "sections/getting_started/faq.md"
  - How-to guides:
    - Basic:
      - Define Steps as nodes in a Pipeline:
        - "sections/how_to_guides/basic/step/index.md"
        - GeneratorStep: "sections/how_to_guides/basic/step/generator_step.md"
        - GlobalStep: "sections/how_to_guides/basic/step/global_step.md"
      - Define Tasks as Steps that rely on LLMs:
        - "sections/how_to_guides/basic/task/index.md"
        - GeneratorTask: "sections/how_to_guides/basic/task/generator_task.md"
      - Define LLMs as local models or remote APIs: "sections/how_to_guides/basic/llm/index.md"
      - Execute Steps and Tasks in a Pipeline: "sections/how_to_guides/basic/pipeline/index.md"
    - Advanced:
        - Using the Distiset dataset object: "sections/how_to_guides/advanced/distiset.md"
        - Export data to Argilla: "sections/how_to_guides/advanced/argilla.md"
        - Using a file system to pass data of batches between steps: "sections/how_to_guides/advanced/fs_to_pass_data.md"
        - Using CLI to explore and re-run existing Pipelines: "sections/how_to_guides/advanced/cli/index.md"
        - Cache and recover pipeline executions: "sections/how_to_guides/advanced/caching.md"
        - Structured data generation: "sections/how_to_guides/advanced/structured_generation.md"
  - Pipeline Samples:
    - "sections/pipeline_samples/index.md"
    - Examples: "sections/pipeline_samples/examples/index.md"
    - Papers:
      - "sections/pipeline_samples/papers/index.md"
      - DEITA: "sections/pipeline_samples/papers/deita.md"
      - Instruction Backtranslation: "sections/pipeline_samples/papers/instruction_backtranslation.md"
      - Prometheus 2: "sections/pipeline_samples/papers/prometheus.md"
      - UltraFeedback: "sections/pipeline_samples/papers/ultrafeedback.md"
  - API Reference:
    - Pipeline:
      - "api/pipeline/index.md"
      - Routing Batch Function: "api/pipeline/routing_batch_function.md"
      - Typing: "api/pipeline/typing.md"
      - Utils: "api/pipeline/utils.md"
    - Step:
      - "api/step/index.md"
      - GeneratorStep: "api/step/generator_step.md"
      - GlobalStep: "api/step/global_step.md"
      - "@step": "api/step/decorator.md"
      - Step Gallery:
        - Argilla: "api/step_gallery/argilla.md"
        - Columns: "api/step_gallery/columns.md"
        - Extra: "api/step_gallery/extra.md"
    - Task:
      - "api/task/index.md"
      - GeneratorTask: "api/task/generator_task.md"
      - Task Gallery: "api/task_gallery/index.md"
    - LLM:
      - "api/llm/index.md"
      - LLM Gallery:
        - Anthropic: "api/llm/anthropic.md"
        - Anyscale: "api/llm/anyscale.md"
        - Azure (via OpenAI): "api/llm/azure.md"
        - Groq: "api/llm/groq.md"
        - Hugging Face: "api/llm/huggingface.md"
        - LiteLLM: "api/llm/litellm.md"
        - llama.cpp: "api/llm/llamacpp.md"
        - Mistral: "api/llm/mistral.md"
        - Ollama: "api/llm/ollama.md"
        - OpenAI: "api/llm/openai.md"
        - Together AI: "api/llm/together.md"
        - Google Vertex AI: "api/llm/vertexai.md"
        - vLLM: "api/llm/vllm.md"
    - CLI: "api/cli.md"
  - Community:
    - sections/community/index.md
    - Issue dashboard: sections/community/popular_issues.md
