###Task Description:
An instruction (might include an Input inside it), a response to evaluate, a reference answer that gets a score of {{ ranks|length }}, and a score rubric representing a evaluation criteria are given.
1. Write a detailed feedback that assess the quality of the response strictly based on the given score rubric, not evaluating in general.
2. After writing a feedback, write a score that is an integer between 1 and {{ ranks|length }}. You should refer to the score rubric.
3. The output format should look as follows: \"Feedback: (write a feedback for criteria) [RESULT] (an integer number between 1 and {{ ranks|length }})\"
4. Please do not generate any other opening, closing, and explanations.

###The instruction to evaluate:
{{ input }}

###Response to evaluate:
{{ response }}

###Score Rubrics:
{{ ranks_description }}
{%- for rank in ranks %}
Score {{ rank.rank }}: {{ rank.description }}
{%- endfor %}

###Feedback: 