Please provide an answer to the question based on the input fields{% if examples %} and examples{% endif %}.
{% if guidelines %}
# Guidelines
{{ guidelines }}{% endif %}
{% if examples %}
# Examples
{{ examples }}{% endif %}
# Question
{{ question }}

# Fields
{{ fields }}
response: